@font-face {
    font-family: vazir;
    src: url('./../../font/Vazirmatn-Regular.ttf');
}
*{
    font-family: vazir;
}
.contact{
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #e1e0e0 inset;
}
.swal-text{
    text-align: right;
}
.swal-button{
    padding: 10px 50px;
}
.swal-footer{
    text-align: center;
}
.cartAlert{
    padding: 4px 7px;
    position: absolute;
    bottom: 0px;
    right: -14px;
}
.mt-100{
    margin-top: 100px;
}
.loginBrand{
    border-bottom: 3px solid;
    padding-bottom: 12px;
    border-color: #071bba;
    background: -webkit-linear-gradient(#5F0A87, #A4508B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rtlDir{
    direction: rtl;
}
.notValid{
    border : 2px solid #dc3545 !important;
}
.form-control:focus{
    box-shadow: none;
}