@font-face {
    font-family: vazir;
    src: url('./../../font/Vazirmatn-Regular.ttf');
}
*{
    font-family: vazir;
}
.contact{
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #e1e0e0 inset;
}
.swal-text{
    text-align: right;
}
.swal-button{
    padding: 10px 50px;
}
.swal-footer{
    text-align: center;
}
.cartAlert{
    padding: 4px 7px;
    position: absolute;
    bottom: 0px;
    right: -14px;
}
.rtlDir{
    direction: rtl;
}
.panelBrand{
    background-image: url('./../../images/panelbrand-removebg-preview.png');
    background-position: center;
    background-attachment: initial;
    padding: 2rem;
    font-size: 1.2rem;
    text-align: center;
    background-repeat: no-repeat;
}
.dateInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.ltrDir{
    direction: ltr;
}
.connectionStatus{
    width: 10px;
    height: 10px;
    background: #06f806;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 5px;
}
.sidebarMenuItems div{
    padding: 0.7rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #898989;
    margin: 10px 0;
}
.sidebarMenuItems div a{
    text-decoration: none;
}
.swal-text{
    text-align: center;
}
.box{
    text-align: center;
    padding:20px 10px;
    border-radius: 5px;
}
.profileImage{
    width: 250px;
}
.bg-online{
    background : var(--online);
}
.bg-offline{
    background :#dc3545 ;
}
.active{
    background: #d6d6d6;
}
.pointerC{
    cursor: pointer;
}
.swal-footer{
    direction: rtl;
}
#panelClock{
    background: #3c3c3c;
    color: #f1f0f0;
    padding: 5px;
    border-radius: 5px;
}
.rtlDir{
    direction: rtl;
}
.adminProfile{
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(209, 202, 202);
}
.sidebarItem{
    padding: 10px;
    text-align: center;
    margin: 10px ;
    box-shadow: 1px 1px 5px #a39e9e;
    border-radius: 5px;
}
.sidebarItem a{
    text-decoration: none;
}
.sideBar{
    box-shadow: 0px 1px 8px #999999;
    border-radius: 5px;
}
tr{
    white-space: nowrap;
}